<ion-header>
<h2 class="ion-text-center">Ionic</h2>
<ion-button fill="clear" slot="start" >
  <ion-back-button  defaultHref="/movies"></ion-back-button>
</ion-button>
</ion-header>

<ion-content class="ion-padding">
  <h2>Le SDK mobile pour le Web</h2>
  <p>Une boîte à outils d'interface utilisateur mobile open source pour la construction d'applications mobiles multiplateformes modernes et de haute qualité à partir d'une base de code unique</p>
  <div>
    <ul>
      <li> installation de ionic :npm i -g @ionic/cli </li>
    </ul>
  </div>
</ion-content>
