<ion-app>
  <ion-menu contentId="main">
    <ion-header>
      <ion-title>Cinestorm</ion-title>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item routerLink="/home" button detail>Home</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/profile" button detail>Profile</ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
