<ion-header>
  <h2 class="ion-text-center">Movies</h2>
<ion-button fill="clear" slot="start">
  <ion-back-button  defaultHref="/home"></ion-back-button>
</ion-button>

  <ion-searchbar
    placeholder="Recherche de film"
    [debounce]="100"
    (ionInput)="getSearchValue($event)"
  ></ion-searchbar>

</ion-header>

<ion-content>
  <ion-list>
    @for (m of filteredMovies(); track m.id) {
      <ion-item button detail (click)="navigateToDetails(m.id)">

        <ion-thumbnail>
          <img [src]="m.imageUrl" [alt]="m.title">
        </ion-thumbnail>

        <ion-label class="ion-text-center">
          <h2>{{m.title}}</h2>
          <p>{{m.year}}</p>
        </ion-label>

      </ion-item>
    }@empty {

      <ion-item>
        Aucun film trouvé
      </ion-item>

    }
  </ion-list>
</ion-content>